<!DOCTYPE html>

<html>
    <head>
        <title>SATMapper - tool for satellite image mapping</title>
        
        <meta charset="UTF-8">
        
        <!-- JQuery CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <!-- Semantic UI CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        
        <!-- Leaflet CDN -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
        
        <!-- Initialization CSS -->
        <link rel="stylesheet" href="../static/css/maps.css" />
        <script src="../static/js/map_init.js"></script>
        <script src="../static/js/checkboxes.js"></script>
    </head>
    
    <body>
        <div class="ui container">
            <div class="ui centered aligned grid">
                <div class="row">
                    <h1>🌍SATMapper🌍</h1>
                </div>
            </div>
            
            <div class="ui divider"></div>
        
            <div class="ui stackable two column centered grid">
                <div class="column">
                    <div id="osm_map" class="map"></div>
                </div>
                
                <div class="column">
                    <div id="l8_map" class="map"></div>
                </div>
            </div>
        
            <h2>Show objects:</h2>
            <div class="ui form">
                <div class="field">
                    <div id="osm_checkbox" class="ui checkbox">
                        <input type="checkbox">
                        <label>OpenStreetMap polygons</label>
                    </div>
                </div>
                
                <div class="field">
                    <div id="l8_checkbox" class="ui checkbox">
                        <input type="checkbox">
                        <label>Landsat polygons</label>
                    </div>
                </div>
            </div>
            
            <div class="ui divider"></div>
            
            <div class="ui centered grid">
                <div class="row">
                    <p>
                        SATMapper by o9, 2018<br>
                        <a href="http://geohack.ru/">GeoHack</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>