<!DOCTYPE html>

<html>
    <head>
        <title>SATMapper - tool for satellite image mapping</title>
        
        <meta charset="UTF-8">
        
        <!-- JQuery CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <!-- Semantic UI CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        
        <!-- Leaflet CDN -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
        
        <!-- Initialization CSS -->
        <link rel="stylesheet" href="../static/css/maps.css" />
        <script src="../static/js/map_init.js"></script>
    </head>
    
    <body>
        <div class="ui container">
            <div class="ui centered aligned grid">
                <div class="row">
                    <h1>🌍SATMapper🌍</h1>
                </div>
            </div>
        </div>
        
        <div class="ui divider"></div>
        
        <div class="ui stackable centered grid">
            <div class="two wide column"></div> <!-- padding -->
            <div class="six wide column">
                <div id="osm_map" class="map"></div>
            </div>
            
            <div class="six wide column">
                <div id="l8_map" class="map"></div>
            </div>
            <div class="two wide column"></div> <!-- padding -->
        </div>
    </body>
</html>